<section class="search">
    <form action="/pesquisa" method="post">
        <input type="text" name="filme" placeholder="pesquisar">
        <button type="submit"><i class="bi bi-search"></i></button>
    </form>
</section>