<%- include('./components/head')%>
<body>
    <%- include('./components/header')%>
    <main>
        <div>
            <form action="/criacao" method="post">
                        <label for="nome">Nome</label>
                        <input type="text" name="nome">

                        <label for="descrcicao">Descricao</label>
                        <input type="text" name="descricao">
                        
                        <label for="imagem">imagem</label>
                        <input type="text" name="imagem">
                        
                        <button type="submit">cadastrar</button>
            </form>
        </div>
    </main>
</body>
</html>